.idea
dist
node_modules
*.iml
.npmrc
ts/go/.out
ts/create-kpt-functions/bin
.DS_Store
*.swo
*.swp

# rapid property-based testing failure reproductions
**/testdata/rapid/

# compiled binaries
go/get-started/get-started

